# Python virtual environment
.venv

# Checkpoints for Jupyter notebooks
.ipynb_checkpoints

# Compiled executable for balanced_modulo
/balanced_modulo/balanced_modulo

# Compiled executables for malbolge
/malbolge/malbolge
/malbolge/original

# Transpiled C code and compiled executables for bf programs
/bf/programs/*.c
/bf/programs/*.out

# Transpiled C code and compiled executables for boof programs
/boof/programs/*.c
/boof/programs/*.out
