# Python virtual environment
.venv

# Checkpoints for Jupyter notebooks
.ipynb_checkpoints

# Compiled executable for balanced_modulo
/balanced_modulo/balanced_modulo

#Compiled executables for malbolge
/malbolge/malbolge
/malbolge/original
